
        body{
            background-image: url('./images/background-image.jpg');
        }
        main{
            color: rgb(192, 181, 181);
                   }
        table{
            color: white;
        }
        tr{
            color: white;
        }


        #content{
            width: 60%;
            border: 1px solid white;
            box-shadow: 10px 10px 5px 5px #33383b;
            padding: 40px;
            position: relative;
            top:20%;
            left: 20%;
            background-color: rgba(0, 0, 0, 0.61);
 
        }

        #content:hover{
            transform: scale(1.04);
            transition: 1s all;
        }

        